
/* reset */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  :root {
    /* colors */
    --tu1-color-primary-hsl: 250, 84%, 54%;
    --tu1-color-accent-hsl: 250, 84%, 54%;
  
    /* spacing */
    --tu1-space-sm: 0.75rem;
    --tu1-space-md: 1.25rem;
    --tu1-space-lg: 2rem;
  
    /* typography */
    --tu1-text-md: 1.2rem;
  
    /* ... */
  }
  
  /* component */
  .sticky-feature {
    position: relative;
    z-index: 1;
    padding: var(--sh4-space-lg) 0;
  }
  
  /* ... */
  
  /* utility classes */
  .tu1-text-center {
    text-align: center;
  }
  
  .tu1-radius-lg {
    border-radius: 0.5em;
  }